<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="d-flex flex-wrap">
      <div class="mx-auto text-center w-100">
        <h1 class="display-5">MBRSG Repository</h1>
        <p class="lead" style="display: none">Research Repository at MBRSG</p>
      </div>

      <p class="mx-auto text-center px-xl-5 w-100">Welcome to MBRSG Repository</p>
      <p class="mx-auto text-center w-100">University users are requested to log-in for full access.</p>
    </div>
  </div>
</div>
