<div class="background-image-container mt-ncs">
  <div class="container">
    <p>&nbsp;</p>
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div class="mx-auto text-center w-100">
          <h1 class="display-4">MBRSG Repository</h1>
          <p class="lead" style="display: none">Research Repository at MBRSG</p>
        </div>

        <blockquote class="blockquote mx-auto text-center w-100">
          <p>&nbsp;</p>
          <p class="display-5">Welcome to MBRSG Digital Repository</p>
          <p>&nbsp;</p>
        </blockquote>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/jpg" srcset="assets/mbrsg/images/mbrsg-banner.jpg 1200w">
    <img alt="" [src]="'assets/mbrsg/images/mbrsg-banner.jpg'"/>
  </picture>
</div>
